#amount {
	border: 0;
	padding-left: .2em;
}

#calculate-button {
	float: right;
}

#slider-range-max {
	display: inline-block;
	float: left;
	width: 77%;
	margin-left: 10px;
	margin-top: 10px;
}

#slider-controls {
	overflow: auto;
	padding-bottom: 1em;
}

#calculator-disclaimer-text {
	margin: 0;
	color: #B4B5B8;
	font-style: italic;
	text-align: justify;
	font-size: 11px;
}
.true_interest_result {
	color: #0E4B91;
	font: italic 14px Verdana,Arial,Helvetica,sans-serif;
	text-align: center;
}